header {
    width: 100%;
    height: 80px;
    padding: 10px 0;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(45deg,#fffb11, #e356ff);
    background-size: 200% 200%;
    animation: bggradient 15s ease infinite;
  }

  @keyframes bggradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

  .hide {
    transform: translateY(-100%);
  }

  #scrollArea {
    position: fixed;
    top: 0;
    transition: .5s;
    z-index: 100;
  }

  nav {
    margin: 50px auto;
    width: 290px;
  }

  /* header {
    border-radius: 3px;
  }

  header:after , header:before {
    display: block;
    content: ' ';
  }

  header:after {
    clear: both;
  } */

  li .fa-solid{
    list-style-type: none;
    background: linear-gradient(rgba(220,220,255,0.4)85%, rgba(255,255,255,0.5) 100%);

    float: left;
    cursor: pointer;
    padding: 3px 10px;
    border-top: 2px solid rgba(200,200,255,0.5);
    border-bottom: 2px solid rgba(50,50,50,0.4);
  }

  li .fa-solid:first-child {
    border-radius: 5px 0 0 5px;
  }

  li .fa-solid:last-child {
    border-radius: 0 5px 5px 0;
  }

  .fa-solid {
    display: block;
    padding: 10px 13px;
    font-size: 26px;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    top: 0;
    color: #FFF;
    transition:  0.4s;
  }

  li:hover .fa-solid {
    top: -20px;
    color: #4eacff;
    background-color: #fff;
    box-shadow: 0 0 65px 0 rgba(255, 255, 255, 0.7);
    transition:  0.4s;
  }

  li .fa-solid:after {
    display: block;
    content: '';
    position: absolute;
    top: 100%;
    left: 42%;
    border-style: solid;
    border-color: transparent;
    border-width: 5px 5px 0 5px;
    transition:  0.4s;
  }

  li:hover .fa-solid:after {
    border-color: white transparent transparent transparent;
  }
  