header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  header {
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    position: relative;
    background-color: rgb(128, 203, 28);
  }
  
  .heater-top {
    width: fit-content
  }
  
  img {
    width: 250px;
    height: 45px;
  }

  .heater-top a {
    background-size: cover;
    background-position: center;
  }
  
  header h1 {
    margin-left: 15px;
  }
  
  .heater-link {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    position: absolute;
    top: 8px;
    right: 22px;
  }
  
  .heater-link-item {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
  }
  
  .heater-link-item a {
    color: #ffffff;
    text-decoration: none;
  }
  
  footer {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #333333;
    margin-top: 40px;
  }
  
  .footer-text {
    color: #fff;
  }