body{
  background: linear-gradient(rgb(214, 244, 255), rgb(252, 218, 255));
  /* background: linear-gradient(rgb(186, 237, 255), rgb(250, 192, 255)); */
  margin: 0px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: rgb(76, 28, 131);
  min-height: 100vh;
}

.box{
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: rgb(254, 250, 255);
  padding: 30px 60px 0px 60px;
  margin: 20px 300px 20px 300px;
  filter:drop-shadow(3px 3px 3px #848484);
  
}

.btn{
  background-color: rgb(239, 232, 247);
  width: 150px;
  height: 40px;
  border-radius: 90px;
  margin-bottom: 15px;
  font-size: 15px;
}

.btn:hover{
  background-color: rgb(218, 196, 244);
}